<h1>New patient</h1>

<% if flash[:errors] %>
  <ul> 
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @patient do |patient_form| %>
  <%= patient_form.label :name %>
  <%= patient_form.text_field :name %>

  <%= patient_form.label :age %>
  <%= patient_form.text_field :age %>

  <%= patient_form.label :img_url %>
  <%= patient_form.text_field :img_url %>

  <%= patient_form.submit "Add new patient" %>
<% end %>
