<div class="container">
  <% if session[:cookie_counter]  <= 0 %>
    <iframe width="966" height="543" src="https://www.youtube.com/embed/QiVvwaZqn4M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <% else %>
    <h1>You have <%= session[:cookie_counter] %> Views until we demand money</h1>  

  <h1><%= @patient.name %></h1>
  <p><b>age:</b><%= @patient.age %></p>
  <marquee scrollamount="20">
    <img class='show-img' src="<%= @patient.img_url %>" alt="<%= @patient.name %>">
  </marquee>

  <%= link_to "Edit", edit_patient_path(@patient) %>
  <h3>My Appointments</h3>
  <br>
  <ol>
    <% @patient.appointments.each do |appt| %>
      <li>
        <strong><%= appt.doctor.name %></strong>: <%= appt.appointment_time %>
        <%= button_to "Delete", appointment_path(appt), method: :delete %>
      </li>
    <% end %>
  </ol>
  <% end  %>
</div>
