<h1>New patient</h1>

<!-- <form method="post" action="/patients">
  <label for="name">Name</label>
  <input name="name" value="">

  <label for="condition">Condition</label>
  <input name="condition" value="">

  <input type="submit" value="Create patient">
</form> -->

<%= form_tag patients_path, method: :patch do %>

  <%= label_tag :name %>
  <%= text_field_tag :name %>

  <%= label_tag :condition %>
  <%= text_field_tag :condition %>

  <%= submit_tag "Create patient" %>
<% end %>
