<h1>New patient</h1>

<%= form_for @patient do |patient_form| %>
  <%= patient_form.label :name %>
  <%= patient_form.text_field :name %>

  <%= patient_form.label :condition %>
  <%= patient_form.text_field :condition %>

  <%= patient_form.submit "Add new patient" %>
<% end %>
