<!DOCTYPE html>
<html>
  <head>
    <title>DocOffice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav">
      <img class='logo' src="https://georgelockhartdotcom.files.wordpress.com/2013/01/whats-up-doc.png" alt="logo">

    </div>
        <ul>
        <li><%= link_to 'Patients Home', patients_path %></li>
        <li><%= link_to 'Doctor Home', doctors_path %></li>
        <li><%= link_to 'New Appointment', new_appointment_path %></li>

        <li class='right'><%= link_to 'Sign-up', new_patient_path %></li>
        <li class='right'><%# link_to 'Login', login_path %></li>
      </ul>

    <%= yield %>
  </body>
</html>
